// Mobile Header
.header {
    &.mobile {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    
        color: $dark_300;
    
        gap: 20px;
    
        margin: 0 0 30px 0;
    
        width: 100%;
    
        .header-first {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    
            .logo {
                font-size: 1.5rem;
                font-weight: normal;
    
                span {
                    font-weight: 600;
                    font-size: 1.05em;
                    color: $blue;
                }
            }
    
            .change-theme-btn {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
    
                background-color: $light_100;
                color: $blue;
    
                border: 2px solid $light_300;
                border-radius: 10px;
    
                padding: 7px;
    
                font-size: 1.5em;
    
                &:hover,
                &:focus {
                    filter: brightness(.95);
                }
    
                &:active,
                &:focus {
                    border: 2px solid $light_400;
                }
    
    
                svg {
                    margin: auto;
                }
            }
        }
    
        .header-second {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 100%;
    
            .search-bar {
                display: flex;
                flex-flow: row nowrap;
                justify-content: start;
                align-items: center;
    
                gap: 10px;
                padding: 10px;
    
                min-width: 230px;
                max-width: 100%;
                width: 100%;
    
                outline: none;
                border-radius: 10px;
                border: 2px solid $light_300;
    
                background-color: $light_100;
                color: $blue;
    
                input {
                    font-size: 1rem;
                    background-color: transparent;
                    color: $dark_100;
                    border: none;
                    width: 100%;
    
                    &:active,
                    &:focus {
                        outline: none;
                    }
    
                    &::placeholder {
                        font-style: italic;
                    }
                }
    
                &:focus-within {
                    border: 2px solid $light_400;
                    background-color: $light_200;
    
                }
            }
    
            .react-select-container {
                outline: none;
                font-size: 1rem;
                min-width: 220px;
                border-radius: 10px;
                width: 100%;
                transition: none;
                
                .react-select {
    
                    &__control {
                        font-size: 1rem;
    
                        background-color: $light_100;
                        color: $dark_200;
    
                        border-radius: 10px;
                        border: 2px solid $light_300;
                        box-shadow: none;
                        &:focus-within,
                        &:hover {
                            border: 2px solid $light_400;
                            background-color: $light_200;
                        }
                    }
    
                    &__menu {
                        border-radius: 10px;
    
                        .react-select__menu-list {
                            border-radius: 10px;
    
                            .react-select__option {
    
                                &.react-select__option--is-focused {
                                    // React Select Default
                                }
    
                                &.react-select__option--is-selected {
                                    background: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    
    }

    &.tablet {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    
        color: $dark_300;
    
        gap: 20px;
    
        margin: 0 0 30px 0;
    
        width: 100%;
    
        .header-first {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    
            .logo {
                font-size: 1.5rem;
                font-weight: normal;
    
                span {
                    font-weight: 600;
                    font-size: 1.05em;
                    color: $blue;
                }
            }
    
            .change-theme-btn {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
    
                background-color: $light_100;
                color: $blue;
    
                border: 2px solid $light_300;
                border-radius: 10px;
    
                padding: 7px;
    
                font-size: 1.5em;
    
                &:hover,
                &:focus {
                    filter: brightness(.95);
                }
    
                &:active,
                &:focus {
                    border: 2px solid $light_400;
                }
    
    
                svg {
                    margin: auto;
                }
            }
        }
    
        .header-second {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 100%;
    
            .search-bar {
                display: flex;
                flex-flow: row nowrap;
                justify-content: start;
                align-items: center;
    
                gap: 10px;
                padding: 10px;
    
                min-width: 230px;
                max-width: 100%;
                width: 100%;
    
                outline: none;
                border-radius: 10px;
                border: 2px solid $light_300;
    
                background-color: $light_100;
                color: $blue;
    
                input {
                    font-size: 1rem;
                    background-color: transparent;
                    color: $dark_100;
                    border: none;
                    width: 100%;
    
                    &:active,
                    &:focus {
                        outline: none;
                    }
    
                    &::placeholder {
                        font-style: italic;
                    }
                }
    
                &:focus-within {
                    border: 2px solid $light_400;
                    background-color: $light_200;
    
                }
            }
    
            .react-select-container {
                outline: none;
                font-size: 1rem;
                min-width: 220px;
                width: 100%;
                border-radius: 10px;
    
                .react-select {
    
                    &__control {
                        font-size: 1rem;
    
                        background-color: $light_100;
                        color: $dark_200;
    
                        border-radius: 10px;
                        border: 2px solid $light_300;
                        box-shadow: none;
                        &:focus-within,
                        &:hover {
                            border: 2px solid $light_400;
                            background-color: $light_200;
                        }
                    }
    
                    &__menu {
                        border-radius: 10px;
    
                        .react-select__menu-list {
                            border-radius: 10px;
    
                            .react-select__option {
    
                                &.react-select__option--is-focused {
                                    // React Select Default
                                }
    
                                &.react-select__option--is-selected {
                                    background: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    
    }
    
    &.desktop {
        color: $dark_300;
    
        gap: 20px;
    
        margin: 0 0 30px 0;
    
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            font-size: 1.5rem;
            font-weight: normal;

            span {
                font-weight: 600;
                font-size: 1.05em;
                color: $blue;
            }
        }

        .change-theme-btn {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;

            background-color: $light_100;
            color: $blue;

            border: 2px solid $light_300;
            border-radius: 10px;

            padding: 7px;

            font-size: 1.5em;

            &:hover,
            &:focus {
                filter: brightness(.95);
            }

            &:active,
            &:focus {
                border: 2px solid $light_400;
            }


            svg {
                margin: auto;
            }
        }
    
        .header-second {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
    
            .search-bar {
                display: flex;
                flex-flow: row nowrap;
                justify-content: start;
                align-items: center;
    
                gap: 10px;
                padding: 10px;
    
                width: 230px;
                max-width: 100%;
    
                outline: none;
                border-radius: 10px;
                border: 2px solid $light_300;
    
                background-color: $light_100;
                color: $blue;
    
                input {
                    font-size: 1rem;
                    background-color: transparent;
                    color: $dark_100;
                    border: none;
                    width: 100%;
    
                    &:active,
                    &:focus {
                        outline: none;
                    }
    
                    &::placeholder {
                        font-style: italic;
                    }
                }
    
                &:focus-within {
                    border: 2px solid $light_400;
                    background-color: $light_200;
    
                }
            }
    
            .react-select-container {
                outline: none;
                font-size: 1rem;
                width: 230px;
                border-radius: 10px;
    
                .react-select {
    
                    &__control {
                        font-size: 1rem;
    
                        background-color: $light_100;
                        color: $dark_200;
    
                        border-radius: 10px;
                        border: 2px solid $light_300;
                        box-shadow: none;
                        &:focus-within,
                        &:hover {
                            border: 2px solid $light_400;
                            background-color: $light_200;
                        }
                    }
    
                    &__menu {
                        border-radius: 10px;
    
                        .react-select__menu-list {
                            border-radius: 10px;
    
                            .react-select__option {
    
                                &.react-select__option--is-focused {
                                    // React Select Default
                                }
    
                                &.react-select__option--is-selected {
                                    background: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    
    } 
}

// Dark mode
.dark .header {

    &.desktop {
                .logo {
            span {
                color: $blue;
            }
        }
    
        .change-theme-btn {
            background-color: $dark_200;
            color: $light_blue2;
    
            border: 2px solid $dark_300;
    
            &:hover,
            &:focus {
                background-color: $dark_300;
            }
    
            &:active {
                border: 2px solid $dark_400;
            }
        }
    }

    color: $light_300;

    .header-first {

        .logo {
            span {
                color: $blue;
            }
        }
    
        .change-theme-btn {
            background-color: $dark_200;
            color: $light_blue2;
    
            border: 2px solid $dark_300;
    
            &:hover,
            &:focus {
                background-color: $dark_300;
            }
    
            &:active {
                border: 2px solid $dark_400;
            }
        }
    }

    .header-second {

        .search-bar {

            border: 2px solid $dark_300;

            background-color: $dark_200;
            color: $blue;

            input {
                background-color: transparent;
                color: $light_300;

                &:active,
                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: $dark_400;
                }
            }

            &:focus-within {
                border: 2px solid $dark_400;
                background-color: $dark_200;

            }
        }

        .react-select-container {
            background-color: $dark_200;
            color: $light_300;

            .react-select {

                &::placeholder {
                    color: $dark_400;
                }
                
                &__control {
                    &:focus-within,
                    &:hover {
                        border: 2px solid $dark_400;
                        background-color: $dark_200;
                        color: $light_300;
                    }

                    background-color: $dark_200;
                    color: $light_300;

                    border: 2px solid $dark_300;
                    box-shadow: none;

                    .react-select__single-value {
                        background-color: $dark_200;
                        color: $light_300;
                    }

                    .react-select__indicator {
                        &:hover,
                        &:focus {
                            color: hsl(0, 0%, 100%);
                        }
                    }
                }

                &__menu {
                    .react-select__menu-list {
                        background-color: $dark_300;

                        .react-select__option {
                            color: $light_300;

                            &.react-select__option--is-focused {
                                background-color: rgba($color: #ffffff, $alpha: .8);
                                color: $dark_200;
                            }

                            &.react-select__option--is-selected {
                                background: $dark_blue2;
                                color: $light_300;
                            }
                        }
                    }
                }
            }
        }
    }
}