.notes-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @media screen and (min-width: 700px) {
        flex-flow: row wrap;
    }

    @media screen and (min-width: 970px) {
        justify-content: start;
    }

    .note {

        background-color: $light_200;
        color: $dark_300;
        padding: 10px;
        height: 300px;
        width: 300px;

        border: 2px solid $light_300;
        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;

        &:focus,
        &:focus-within,
        &:hover {
            border: 2px solid $light_400;
        }

        span {
            width: 100%;
            padding: 8px;
            overflow-y: scroll;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $light_400;
                border-radius: 9999px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }

        &.new {

            background-color: $light_blue;
            border: 2px solid $light_blue2;

            &:focus-within,
            &:hover {
                border: 2px solid $blue;
            }

            // Styling the text editor

            .quill {
                font-family: 'Roboto', Courier, monospace;

                background: none;
                border: none;
                outline: none;

                color: $dark_100;

                padding: 8px;

                width: 100%;
                height: 220px;

                overflow: auto;
                resize: none;

                font-size: 1rem;

                .ql-toolbar {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 5px;
                    justify-content: start;
                    align-items: center;

                    &.ql-snow {
                        border: none;
                        padding: 0;
                    }

                    .ql-formats {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        gap: 5px;

                        padding: 0;
                        margin: 0;

                        width: auto;
                        overflow: hidden;

                        button {
                            border-radius: 5px;
                            border: 1px solid $dark_blue2;

                            &:hover {
                                background-color: $light_200;
                            }

                        }
                    }
                }

                .ql-container {
                    color: $dark_300;

                    &.ql-snow {
                        border: none;
                        padding: 0;
                    }

                    .ql-editor {
                        width: 100%;
                        height: 200px;
                        padding: 15px 0 0;
                        overflow-y: scroll;

                        &.ql-blank::before {
                            left: 0;
                            right: 0;
                            font-size: 1rem;
                        }
                    }

                }

                &::-webkit-scrollbar {
                    width: 0;
                }

                &::placeholder {
                    font-style: italic;
                }

                &.error {
                    &::placeholder {
                        color: $light_red;
                    }
                }
            }

            .note-footer {

                .character-count {
                    &.error {
                        color: $red;
                    }
                }

                .add-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;

                    padding: 10px;
                    border-radius: 5px;

                    background-color: transparent;

                    font-size: 0.85rem;

                    &:focus,
                    &:hover {
                        background-color: $light_green2;
                    }

                    .check-icon {
                        font-size: 1.05rem;
                        color: $green;
                    }
                }
            }
        }

        .note-footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .edit-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;

                    padding: 6px;
                    border-radius: 5px;

                    background-color: $light_200;

                    &:focus,
                    &:hover {
                        background-color: $light_blue;
                    }

                    .edit-icon {
                        font-size: 1.35rem;
                        color: $blue;
                    }
                }

                .delete-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;

                    padding: 5px;
                    border-radius: 5px;

                    background-color: $light_200;

                    &:focus,
                    &:hover {
                        background-color: $light_red2;
                    }

                    .delete-icon {
                        font-size: 1.5rem;
                        color: $red;
                    }
                }
            }

            p {
                color: $dark_300;
                font-size: 0.85rem;
                padding: 8px;
            }

            .date {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                padding: 8px;

                gap: 5px;

                p {
                    padding: 0;
                    white-space: nowrap;

                    em {
                        font-style: normal;
                        opacity: .7;
                    }
                }

                .date-icon {
                    font-size: 1.1em;
                    color: $blue;
                }
            }

        }
    }
}

.dark .notes-list {

    .note {
        background-color: $dark_200;
        color: $light_300;

        border: 2px solid $dark_300;

        &:focus-within,
        &:hover {
            border: 2px solid $dark_400;
        }

        &.new {

            background-color: $dark_blue2;
            border: 2px solid $light_blue2;

            &:focus-within,
            &:hover {
                border: 2px solid $light_blue;
            }

            .textbox {
                color: $light_300;

                &::placeholder {
                    color: $light_300;
                }

                &.error {
                    &::placeholder {
                        color: $red2;
                    }
                }
            }

            // Text editor
            .quill {

                .ql-toolbar {

                    .ql-formats {
                        button {
                            border-radius: 5px;
                            border: 1px solid $light_blue;
                            background-color: $light_blue;

                            &:focus,
                            &:hover {
                                background-color: $light_200;
                                border: 1px solid $light_200;
                            }

                        }
                    }
                }

                .ql-container {
                    color: $light_300;

                    .ql-editor {
                        &::before {
                            color: $light_300;
                            filter: brightness(.95);
                        }
                    }
                }
            }

            .note-footer {

                .character-count {
                    &.error {
                        color: $red;
                    }
                }

                .add-btn {

                    background-color: transparent;

                    &:focus,
                    &:hover {
                        background-color: $light_green2;

                        & .check-icon {
                            color: $green;
                        }
                    }

                    .check-icon {
                        font-size: 1.05rem;
                        color: $light_green;
                    }
                }
            }
        }

        .note-footer {

            .buttons {
                .edit-btn {
                    background-color: transparent;

                    &:focus,
                    &:hover {
                        background-color: $light_blue;

                        .edit-icon {
                            color: $blue;
                        }
                    }
                }

                .delete-btn {
                    background-color: transparent;

                    &:focus,
                    &:hover {
                        background-color: $light_red2;

                        .delete-icon {
                            color: $red;
                        }
                    }

                    .delete-icon {
                        font-size: 1.5rem;
                        color: $light_red;
                    }
                }
            }

            p {
                color: $light_300;
            }

            .date {
                .date-icon {
                    font-size: 1.1em;
                    color: $blue;
                }
            }

        }
    }
}

// Edit Note
.edit-note-container {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 

    margin: 0 auto;
    padding: 20px;

    z-index: 500;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 35, 46, 0.7), rgba(0, 0, 0, 0.3)); ;
        z-index: 1;
    }

    h2 {
        z-index: 2;
        color: $light_200;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    .edit-note {

        position: absolute;
        margin: calc(30px + 20px) auto 0 auto;

        z-index: 1;

        padding: 10px;
        height: 300px;
        width: 300px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;

        background-color: $light_blue;
        border: 2px solid $light_blue2;
        border-radius: 10px;

        &:focus-within,
        &:hover {
            border: 2px solid $blue;
        }

        // Styling the text editor

        .quill {
            font-family: 'Roboto', Courier, monospace;

            background: none;
            border: none;
            outline: none;

            color: $dark_100;

            padding: 8px;

            width: 100%;
            height: 220px;

            overflow: auto;
            resize: none;

            font-size: 1rem;

            .ql-toolbar {
                display: flex;
                flex-flow: row nowrap;
                gap: 5px;
                justify-content: start;
                align-items: center;

                &.ql-snow {
                    border: none;
                    padding: 0;
                }

                .ql-formats {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 5px;

                    padding: 0;
                    margin: 0;

                    width: auto;
                    overflow: hidden;

                    button {
                        border-radius: 5px;
                        border: 1px solid $dark_blue;

                        &:hover {
                            background-color: $light_200;
                        }

                    }
                }
            }

            .ql-container {
                color: $dark_300;

                &.ql-snow {
                    border: none;
                    padding: 0;
                }

                .ql-editor {
                    width: 100%;
                    height: 200px;
                    padding: 15px 0 0;
                    overflow-y: scroll;

                    &.ql-blank::before {
                        left: 0;
                        right: 0;
                        font-size: 1rem;
                    }
                }

            }

            &::-webkit-scrollbar {
                width: 0;
            }

            &::placeholder {
                font-style: italic;
            }

            &.error {
                &::placeholder {
                    color: $light_red;
                }
            }
        }

        .note-footer {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .character-count {
                &.error {
                    color: $red;
                }
            }

            .buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .character-count {
                    &.error {
                        color: $red;
                    }
                }

                .add-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;

                    padding: 10px;
                    border-radius: 5px;

                    background-color: transparent;

                    font-size: 0.85rem;

                    &:focus,
                    &:hover {
                        background-color: $light_green2;
                    }

                    .check-icon {
                        font-size: 1.05rem;
                        color: $green;
                    }
                }

                .delete-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;

                    padding: 5px;
                    border-radius: 5px;

                    background-color: transparent;

                    &:focus,
                    &:hover {
                        background-color: $light_red2;
                    }

                    .delete-icon {
                        font-size: 1.5rem;
                        color: $red;
                    }
                }
            }

            p {
                color: $dark_300;
                font-size: 0.85rem;
                padding: 8px;
            }

        }
    }
}