$dark_100: #242428;
$dark_200: #333336;
$dark_300: #5b5757;
$dark_400: #969696;

$light_100: #fefefe;
$light_200: #f6f6f6;
$light_300: #e9e9e9;
$light_400: #b0b0b0;


$red: #d00202;
$red2:#d80000ea;
$light_red: #ff7676;
$light_red2:rgb(255, 209, 209);
$light_red3:rgb(255, 185, 185);
$dark_red: #ab2020;

$error_red:rgb(255, 171, 171);
$error_red_icon:#ff6262;

$blue: #16a2ff;
$light_blue: #c8e9ff;
$light_blue2: #6ab9ee;
$dark_blue: #0070bb;
$dark_blue2: #3495ef;


$green: #00ba34;
$dark_green: #007521;
$dark_green2: #005017;
$light_green: #38e86a;
$light_green2: #ddffe7;